/* METRICS CARDS */
.metrics-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 32px;
}

/* AVAILABLE, INCOMES & OUTCOMES */
.available-card .card-value {
  color: var(--primary);
}

/* INCOMES VS OUTCOMES */
.dashboard-chart-card {
  grid-column: 1/3;
  grid-row: 2/4;
  height: 250px;
  padding-bottom: 48px;
}

/* HEALTH CARD */
.dashboard-health-card {
  overflow: hidden;
  background: linear-gradient(135deg,
      var(--primary) 0%,
      #000000cc 100%);
  border-radius: 32px;
  color: #ffffff;
  position: relative;
  box-shadow: 0 10px 25px #0000001a;

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .bg-icon {
    position: absolute;
    bottom: -40px;
    right: -10px;
    font-size: 180px;
    opacity: 0.1;
  }
}

/* RECENT CARD */
.dashboard-recent-card {
  grid-column: 1/3;
}

/* TIPS CARD */
.dashboard-tips-card {
  justify-content: start;
  grid-row: 3/5;
}

.tips-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.tip-item {
  background-color: var(--bg);
  padding: 16px;
  border-radius: 8px;
}

.tip-tag {
  font-weight: 700;
  color: #94a3b8;
  text-transform: uppercase;
}

.metrics-cards .card-top {
  justify-content: space-evenly;
}