/*VARIABLES Y TEMAS*/
:root {
    --bg: #f8fafc;
    --bg-hover: #d1fae5;
    --bg-cards: #ffffff;
    --text-primary: #0f172a;
    --text-secondary: #64748b;
    --border-color: #d8e0eb;

    --primary: #059669;
    --primariy-hover: #047857;
    --sidebar-width: 260px;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL LAYOUT */
html {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    scrollbar-width: none;
}

body {
    height: 100dvh;
    background-color: var(--bg);
}

.app-container {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    grid-template-rows: 100px auto;
}

/* NAVIGATION SIDEBAR */
.navigation-sidebar {
    padding: 16px;
    background-color: var(--bg-cards);
    border-right: solid 1px var(--border-color);
    grid-row: 1/3;
}

/* LOGO */
.logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.logo-icon {
    background-color: var(--primary);
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LINKS */
.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-nav .active {
    background-color: var(--bg);
    color: var(--text-secondary);
}

.sidebar-nav .active:hover {
    background-color: var(--bg);
    color: var(--text-secondary);
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 999999px;
    color: var(--text-secondary);
    font-weight: 500;
    transition: all 0.2s ease;
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--bg-hover);
    color: var(--primary);
}

.nav-profile>.avatar {
    height: 40px;
    width: 40px;
    background-color: var(--primary);
    color: white;
    border-radius: 999999px;
    overflow: hidden;
}

/* HEADER */
.app-header {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
}

.view-info h2 {
    font-size: 28px;
    font-weight: 700;
}

.view-info p {
    color: var(--text-secondary);
}

.view-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* MAIN CONTENT*/

.main-content {
    padding: 16px;
}

/* UI COMMON ELEMENTS */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 8px;
    border-radius: 999999px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    text-wrap: nowrap;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-secondary {
    background-color: var(--bg-cards);
    border: solid 1px var(--border-color);
}

/* CARDS */
.card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-cards);
    border: 1px solid var(--border-color);
    border-radius: 32px;
    padding: 16px;
    gap: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

    .card-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .card-value {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    h3 {
        max-height: fit-content;
        display: flex;
        flex-grow: 1;
    }
}

a {
    color: var(--primary);
    text-decoration: none;
}

/* IDK */
.badge,
.icon-box {
    display: flex;
    align-items: center;
    border-radius: 999999px;
    padding: 8px;
}

.badge {
    font-size: 12px;
    font-weight: 700;
}

/* TABLES */
.table-container {
    overflow-x: auto;
    scrollbar-width: thin;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table th,
table td {
    padding: 16px;
}

table th {
    background-color: var(--bg);
    font-size: 12px;
    color: var(--text-secondary);
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
}

table td {
    text-wrap: nowrap;
    font-size: 14px;
    border-bottom: 1px solid var(--bg);
}

table td .table-concept {
    display: flex;
    align-items: center;
    gap: 8px;
}

table tr:hover td {
    background-color: var(--bg);
}

.concept-icon {
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 999999px;
}

/* PROGRESS BAR */
.progress-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;

    span {
        color: var(--text-secondary);
    }
}

progress {
    appearance: none;
    width: 100%;
    height: 10px;
}

progress::-webkit-progress-bar {
    background-color: #f1f5f9;
    border-radius: 999999px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    background-color: var(--primary);
    border-radius: 999999px;
}

/* FORMS */
small {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: var(--text-secondary);
}



/* INPUTS */
.input-row {
    display: flex;
    gap: 16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    label {
        font-size: 13px;
        font-weight: 600;
        display: block;
    }
}

.input-container {
    display: flex;
    align-items: center;
    font-family: inherit;
    overflow: hidden;
    position: relative;
    width: 100%;

    input {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        padding: 12px 16px;
        border: 1px solid var(--border-color);
        background-color: var(--bg);
        outline: none;
        font-family: inherit;
        font-size: 14px;
    }
}

.input-container input:focus {
    border-color: var(--primary);
}

.show-pw {
    position: absolute;
    right: 0;
    background-color: transparent;
    color: var(--text-secondary);
}

/* SELECTS */

select {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-family: inherit;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding: 12px 16px;
    background-color: var(--bg);
}

select:focus-visible {
    outline: none;
    border-color: var(--primary);
}

/* STYLES BY CLASS */
.hidden {
    display: none;
}

.icon-green,
.badge-green {
    background-color: #d1fae5;
    color: #059669;
}

.badge-blue,
.icon-blue {
    background-color: #dbeafe;
    color: #2563eb;
}

